ArchiveEvents={{ slurmdbd_archive_events }}
ArchiveJobs={{ slurmdbd_archive_jobs }}
ArchiveResvs={{ slurmdbd_archive_reservations }}
ArchiveSteps={{ slurmdbd_archive_steps }}
ArchiveSuspend={{ slurmdbd_archive_suspend }}
ArchiveTXN={{ slurmdbd_archive_transactions }}
ArchiveUsage={{ slurmdbd_archive_usage }}
#ArchiveScript=/usr/sbin/slurm.dbd.archive
AuthType=auth/munge
DbdAddr={{ slurmdbd_url }}
DbdHost={{ slurmdbd_deployment_name }}-0
DebugLevel=info
PurgeEventAfter={{ slurmdbd_purge_events_after }}
PurgeJobAfter={{ slurmdbd_purge_jobs_after }}
PurgeResvAfter={{ slurmdbd_purge_reservations_after }}
PurgeStepAfter={{ slurmdbd_purge_steps_after }}
PurgeSuspendAfter={{ slurmdbd_purge_suspend_after }}
PurgeTXNAfter={{ slurmdbd_purge_transactions_after }}
PurgeUsageAfter={{ slurmdbd_purge_usage_after }}
LogFile={{ slurm_log_dir }}/slurmdbd.log
PidFile=/run/slurm/slurmdbd.pid
SlurmUser={{ slurm_user_name }}
StorageHost={{ slurmdbd_mariadb_url }}
StoragePass={{ slurm_mariadb_password }}
StorageLoc={{ slurm_mariadb_database_name }}
StorageType=accounting_storage/mysql
StorageUser={{ slurm_mariadb_user_name }}
