#<domain> <type> <item>  <value>
*         soft   memlock {{ slurm_ulimit_memlock_soft }}
*         hard   memlock {{ slurm_ulimit_memlock_hard }} 
*         soft   nofile  {{ slurm_ulimit_nofile_soft }}
*         hard   nofile  {{ slurm_ulimit_nofile_hard }} 
*         soft   stack   {{ slurm_ulimit_stack_soft }}
*         hard   stack   {{ slurm_ulimit_stack_hard }} 
