apiVersion: v1
kind: ConfigMap
metadata:
  name: ipaclient
  namespace: {{ slurm_namespace }}
data:
  ipaadmin_principal: {{ ipaadmin_principal }}
  primary_ipaserver: {{ primary_ipaserver }}
  ipaclient_domain: {{ ipaclient_domain }}
  ipaclient_realm: {{ ipaclient_realm }}
