#!/usr/bin/env sh

# Add the NVIDIA Ubuntu repository for resolving build dependencies.

{% if http_proxy is defined %}
export HTTPS_PROXY={{ http_proxy }}
{% endif %}

apt-get update \
	&& apt-get -y install ca-certificates curl \
	&& curl -LO https://developer.download.nvidia.com/compute/cuda/repos/{{ ansible_distribution | lower }}{{ ansible_distribution_version | replace('.', '') }}/{{ ansible_architecture }}/cuda-keyring_1.0-1_all.deb \
	&& dpkg -i cuda-keyring_1.0-1_all.deb \
	&& rm cuda-keyring_1.0-1_all.deb \
	&& ln -s /usr/local/cuda-{{ slurm_builddep_cuda_version }} /usr/local/cuda \
	&& apt-get update
