{% for mount in autofs_mounts %}
{{ mount['localpath'] }}  -{{ 'fsc,' if mount['cached'] else 'nofsc,nosharecache,' }}{{ mount['options'] }}  {{ mount['server'] }}:{{ mount['remotepath'] }}
{% endfor %}
