# For a list of the available options, execute `conda config --describe`.

# Since the base environment is not user-writable, don't auto-activate it.
auto_activate_base: false

# Set channel priority to strict as described in https://conda-forge.org/docs/user/tipsandtricks.html.
channel_priority: strict

Add the https://bioconda.github.io channel.
channels:
- conda-forge
- bioconda
- defaults
